<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<resultMap type="event" id="event_rm">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventTitle"  column="EVENT_TITLE"/>
		<result property="eventThumbnail"  column="EVENT_THUMBNAIL"/>
		<result property="eventContent"  column="EVENT_CONTENT"/>
		<result property="bannerImg"  column="BANNER_IMG"/>
		<result property="adImg"  column="AD_IMG"/>
		<result property="createDate"  column="CREATE_DATE" />
		<result property="endDate"  column="END_DATE"/>
		<result property="statusFl"  column="STATUS_FL"/>
	</resultMap>
	
	<!-- Oracle에서 MySQL로 변환된 SQL 쿼리 -->

	<!-- 이벤트 페이지별 조회 -->
	<select id="getEventsByPage" resultMap="event_rm">
	    SELECT EVENT_NO, EVENT_TITLE, EVENT_THUMBNAIL, EVENT_CONTENT, BANNER_IMG, AD_IMG,
	    DATE_FORMAT(CREATE_DATE, '%Y/%m/%d') AS CREATE_DATE, DATE_FORMAT(END_DATE, '%Y/%m/%d') AS END_DATE, STATUS_FL
	    FROM EVENT
	    LIMIT ${offset}, ${pageSize}
	</select>
	
	<!-- 이벤트 상세 조회 -->
	<select id="getEvent" parameterType="_int" resultMap="event_rm">
	    SELECT EVENT_NO, EVENT_TITLE, EVENT_THUMBNAIL, EVENT_CONTENT, BANNER_IMG, AD_IMG,
	    DATE_FORMAT(CREATE_DATE, '%Y/%m/%d') AS CREATE_DATE, DATE_FORMAT(END_DATE, '%Y/%m/%d') AS END_DATE, STATUS_FL
	    FROM EVENT
	    WHERE EVENT_NO = #{eventNo}
	</select>
	

</mapper>
